extends layout.pug

block content
    h4 Change Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", placeholder="Description", value=video.description, required)
        input(name="hashtags", placeholder="HashTags", value=video.hashtags.join(',').replace(/#/g, ''))
        input(value="Save", type="submit")